<p id="notice"><%= notice %></p>

<p> Number of ratings: <%= @ratings.count %> </p>

<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> </li>
  <% end %>
</ul>
<%= link_to 'New Rating', ratings_new_path %><br/>